general_utils/APIkey.txt
ocr_model_minerva350m/checkpoint-110/config.json
/ocr_model_minerva350m
/ocr_model_mt5_small
/ocr_model_tinyllama
general_utils/google_api.txt
general_utils/hf_token.txt
/src/__pycache__
/ocr_model_minerva
/trained_models
